repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b  # frozen: v5.0.0
    hooks:
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md,markdown
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: check-json
        exclude: ^\.(vscode|devcontainer)/
      - id: pretty-format-json
        exclude: ^\.(vscode|devcontainer)/
        args:
          - --indent
          - '4'
          - --autofix
          - --no-sort-keys
      - id: check-toml
  - repo: https://github.com/bwhmather/ssort
    rev: 2dd40ba37fdd472ce996668ea415077d756e651b  # frozen: 0.15.0
    hooks:
      - id: ssort
  - repo: https://github.com/psf/black
    rev: 8a737e727ac5ab2f1d4cf5876720ed276dc8dc4b  # frozen: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: c8ab4a5b21bac924d106e3103dd7c979fdd0f9bc  # frozen: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 3a6eb0fadf60b3cccfd80bad9dbb6fae7e47b316
    hooks:
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: https://github.com/ikamensh/flynt
    rev: b6179c10e744b641f5f180cfc40e95c90a8ad18c  # frozen: 1.0.4
    hooks:
      - id: flynt
  - repo: https://github.com/asottile/pyupgrade
    rev: 37bfa06d791fd38fb4e54910b36a2ff57641b074  # frozen: v3.20.0
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus
  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: ba0661836089a532a710f68713a3e3e53f7f0113  # frozen: 0.3.4
    hooks:
      - id: auto-walrus
        additional_dependencies:
          - tomli ; python_version < '3.11'
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli ; python_version < '3.11'
  - repo: https://github.com/commitizen-tools/commitizen
    rev: c710c9f541ae452547fdce5c360929f007ec4867  # frozen: v4.8.3
    hooks:
      - id: commitizen
  - repo: local
    hooks:
      - id: hatch-fmt
        entry: hatch fmt
        language: system
        name: hatch fmt
        types:
          - python
      - id: hatch-types
        entry: hatch run types:check
        language: system
        name: hatch types
        types:
          - python
  - repo: https://github.com/andreoliwa/nitpick
    rev: '36d4912df1f0bd2ed8cc535b57c5ba3b09ce3d46'  # frozen: v0.35.0
    hooks:
      - id: nitpick
minimum_pre_commit_version: 2.18.0
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg
